language = "python3"
run = "( [ ! -f .delete-2-update-stuff ] && pip install --upgrade pip && pip install --upgrade wheel setuptools && pip install --upgrade robotpy[navx] --find-links https://www.tortall.net/~robotpy/wheels/2021/linux_x86_64/ &&  pip install --upgrade robotpy[all] && touch .delete-2-update-stuff ) ; python robot/robot.py sim"

[packager]
ignoredPackages=["wpilib", "pyfrc"]